/*

billboardTop5 {
    display: table;
    width: 30em;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid gray;
    margin: 1em;
}

title {
    display: table-caption;
    text-align: center;
    font: 1.5em Georgia, serif;
    color: gray;
    padding-bottom: 4px;
}

header {
    display: table-header-group;
    position: absolute;
    color: blue;
}

song {
    display: table-row;
}

*/

billboardTop5 {
    display: table;
    margin: 2em 1em;
    padding: 0px 1em;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1,
h2,
h3,
h4,
h5,
song,
rank,
title,
artist,
album,
lastWeek {
    border: 1px solid black;
    padding: 1em;
    margin: 2em 1em;
    font-family: cursive;
}

h1 {
    display: table-cell;
}

h2 {
    display: table-cell;
}

h3 {
    display: table-cell;
}

h4 {
    display: table-cell;
}

h5 {
    display: table-cell;
}

header {
    display: table-row;
}

captions {
    display: table-caption;
    text-align: center;
    color: royalblue;
    font-size: 2em;
    font-family: fantasy;

}

song {
    display: table-row;
}

rank {
    display: table-cell;
    color: red;
}

title {
    display: table-cell;
    color: orange;
}

artist {
    display: table-cell;
    color: green;
}

album {
    display: table-cell;
    color: blue;
}

lastWeek {
    display: table-cell;
    color: purple;
}
